body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
}

.back-ground {
  background-image: url(../imgs/BgLogin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: #fff;
}

.navbar .getapp {
  border-radius: 0%;
  height: 40px;
  margin-right: 25px;
  font-size: 12pt;
  font-weight: 700;
  color: #0478c9;
  border-color: #0478c9;
}

.navbar .getapp:hover {
  color: white;
  background-color: #0478c9;
  border: 1px solid #0478c9;
}

.navbar button.Lang {
  border-radius: 0%;
  height: 40px;
  border: none;
  border-left: 2px solid #3a4348;
  font-size: 12pt;
  font-weight: 700;
}

.navbar button.Lang:hover {
  color: #0478c9;
  background-color: #fff;
  border: none;
  border-left: 2px solid #3a4348;
}

.bg-login {
  background-color: white;
  opacity: 1;
  width: 80%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
}

.bg-login form .text-forget {
  margin-top: -50px;
  float: right;
  margin-bottom: 60px;
  color: #777777;
  font-size: 13pt;
  font-weight: 500;
}

.bg-login .text-account {
  padding-top: 30px;
  padding-bottom: 40px;
}

.bg-login .text-account a {
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  color: #0478c9;
  font-size: 14pt;
  margin-top: 15px;
  font-weight: 800;
  margin-top: 12px;
}

.bg-login .text-account a:hover, .bg-login .text-account a:focus {
  text-decoration: none;
  color: #0478c9;
  outline: none !important;
}

.hero-wrap {
  width: 100%;
  height: 500px;
  background-image: url(../imgs/04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}

.hero-wrap h2 {
  font-size: 38px;
  color: #fff;
  line-height: 1.5;
  font-weight: 700;
}

.hero-wrap h2 span {
  color: #0478c9;
}

.slider-text {
  position: absolute;
  top: 200px;
}

.slider-text a {
  text-decoration: none;
  cursor: text;
}

.slider-text .txt-rotate > .wrap {
  position: absolute;
  left: 100px;
}

.slider-text .txt-rotate > .wrap:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -10px;
  width: 5px;
  height: 100%;
  content: '';
  background: #0478c9;
  text-decoration: blink;
  -webkit-animation-name: blinker;
          animation-name: blinker;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.slider-text h3 {
  font-size: 35pt;
  color: #fff;
  line-height: 1.5;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
}

/* Start-LoginAbout */
.bg-About {
  background-image: url(../imgs/BgLoginAbout.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-About .cards {
  margin-top: 90px;
}

/* End-LoginAbout */
/* Start-Registr */
.bg-registr {
  background-color: #fff;
  margin-top: 130px;
}

/* End-Registr */
/* ShowMoreOne */
.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  -webkit-transition: .25s ease;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

/* ShowMoreTwo */
.read-more-targetT {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  -webkit-transition: .25s ease;
  transition: .25s ease;
}

.read-more-stateT:checked ~ .read-more-wrap .read-more-targetT {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

#hidden_div {
  display: none;
}

.avatar-wrapper {
  position: relative;
  height: 150px;
  width: 150px;
  margin: 50px auto;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 10px -5px black;
          box-shadow: 1px 1px 10px -5px black;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.avatar-wrapper:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.avatar-wrapper:hover .profile-pic {
  opacity: .5;
}

.avatar-wrapper .profile-pic {
  height: 100%;
  width: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.avatar-wrapper .profile-pic:after {
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  content: "\f007";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 90px;
  background: #ecf0f1;
  color: #0478c9;
  text-align: center;
}

.avatar-wrapper .upload-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.avatar-wrapper .upload-button .fa-arrow-circle-up {
  position: absolute;
  font-size: 150px;
  top: 0px;
  left: 0;
  text-align: center;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #0478c9;
  background-color: #ecf0f1;
}

.avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
  opacity: 1;
}

/* Footer */
.copy-right {
  background-color: #fff;
  font-size: 12pt;
  border-top: 1px solid #ddd;
  margin-top: 80px;
}

.copy-right p {
  color: #3a4348;
  font-weight: 600;
}

.copy-right a {
  color: #0478c9;
  text-decoration: none;
}

.social-icon {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 14pt;
}

.social-icon .fa-twitter:before {
  color: #0478c9;
  content: "\f099";
}

.social-icon .fa-facebook-f:before {
  color: #0478c9;
  content: "\f39e";
}

.social-icon .fa-instagram:before {
  color: #0478c9;
  content: "\f16d";
}

.social-icon .fa-google-plus-g:before {
  color: #0478c9;
  content: "\f0d5";
}
/*# sourceMappingURL=style.css.map */