$font-primary:'Roboto Condensed', sans-serif;
$font-secondary :'Sniglet', cursive;
$font-title:'Chewy', cursive;

//font-family: 'Roboto Condensed', sans-serif;
//font-family: 'Ma Shan Zheng', cursive;
//font-family: 'Baloo Bhai', cursive;
//font-family: 'Covered By Your Grace', cursive;
//font-family: 'Chewy', cursive;

$white: #fff;
$black: #000000;
$darken: #3a4348;

$primary:#0478c9 ;
$secondary:#5f6caf;
$child: #7acfdf;

$paddingT: 80px;
$paddingB: 40px;

body {
    font-family: $font-primary;
	font-size: 16px;
	line-height: 1.8;
	font-weight: 400;
}
.back-ground {
    background-image: url(../imgs/BgLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    background-color: $white;
    .getapp {
        border-radius: 0%;
        height:40px;
        margin-right: 25px;
        font-size: 12pt;
        font-weight: 700;
        color: $primary;
        border-color: $primary;
        &:hover {
            color: white;
            background-color: #0478c9;
            border: 1px solid #0478c9;
        }
    }
    button.Lang {
        border-radius: 0%;
        height:40px;
        border: none;
        border-left: 2px solid $darken ;
        font-size: 12pt;
        font-weight: 700;
        &:hover {
            color: $primary;
            background-color: $white;
            border:none;
            border-left: 2px solid $darken ;
        }

    }
}
.bg-login {
    background-color: white;
    opacity: 1;
    width: 80%;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    form {
        .text-forget {
            margin-top: -50px;
            float: right;
            margin-bottom: 60px;
            color: #777777;
            font-size: 13pt;
            font-weight: 500;
        }
    }
    .text-account {
        padding-top: 30px;
        padding-bottom: $paddingB;
        a {
            transition: .5s all ease;
            color: $primary;
            font-size: 14pt;
            margin-top: 15px;
            font-weight: 800;
            margin-top: 12px;
            &:hover, &:focus {
                text-decoration: none;
                color: $primary;
                outline: none !important;
        }
        }
    }
    
    
}

.hero-wrap{
	width: 100%;
	height: 500px;
    background-image: url(../imgs/04.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
    position: relative;

    h2 {
        font-size: 38px;
        color: $white;
        line-height: 1.5;
        font-weight: 700;
        span{
            color: $primary;
        }
    }
}
.slider-text{
    position: absolute;
    top: 200px;
    a {
        text-decoration: none;
        cursor: text;
    }
	.txt-rotate {
		> .wrap {
            position: absolute;
            left: 100px;
			&:after{
				position: absolute;
				top: 0;
				bottom: 0;
				right: -10px;
				width: 5px;
				height: 100%;
				content: '';
				background: $primary;
				text-decoration: blink;
				animation-name: blinker;
				animation-duration: 0.6s;
				animation-iteration-count:infinite;
				animation-timing-function:ease-in-out;
				animation-direction: alternate;
			}
		}
	}
	h3 {
		font-size: 35pt;
		color: $white;
		line-height: 1.5;
		font-weight: 700;
		font-family: $font-primary;
	}
}
/* Start-LoginAbout */
.bg-About {
    background-image: url(../imgs/BgLoginAbout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .cards {
        margin-top: 90px;
    }
}
/* End-LoginAbout */ 

/* Start-Registr */
.bg-registr {
    background-color: $white;
    margin-top: 130px;
}

/* End-Registr */ 

 /* ShowMoreOne */
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }

   /* ShowMoreTwo */
  .read-more-targetT {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  .read-more-stateT:checked ~ .read-more-wrap .read-more-targetT {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }

  #hidden_div {
    display: none;
}

.avatar-wrapper{
	position: relative;
	height: 150px;
	width: 150px;
	margin: 50px auto;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 1px 1px 10px -5px black;
	transition: all .3s ease;
	&:hover{
		transform: scale(1.05);
		cursor: pointer;
	}
	&:hover .profile-pic{
		opacity: .5;
	}
	.profile-pic {
    height: 100%;
		width: 100%;
		transition: all .3s ease;
		&:after{
            font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
			content: "\f007";
			top: 0; left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			font-size: 90px;
			background: #ecf0f1;
			color: $primary;
			text-align: center;
		}
	}
	.upload-button {
		position: absolute;
		top: 0; left: 0;
		height: 100%;
		width: 100%;
		.fa-arrow-circle-up{
			position: absolute;
			font-size: 150px;
			top: 0px;
			left: 0;
			text-align: center;
			opacity: 0;
			transition: all .3s ease;
            color: $primary;
            background-color: #ecf0f1;
		}
		&:hover .fa-arrow-circle-up{
			opacity: 1;
		}
	}
}
 /* Footer */
 .copy-right {
     background-color: $white;
     font-size: 12pt;
     border-top: 1px solid #ddd ;
     margin-top: $paddingT;
	p {
		color: $darken;
		font-weight: 600;
    }
    a {
        color:$primary;
        text-decoration: none;
    }
}
.social-icon {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14pt;
    .fa-twitter:before {
        color:$primary;
        content: "\f099";
    }
    .fa-facebook-f:before {
        color:$primary;
        content: "\f39e";
    }
    .fa-instagram:before {
        color:$primary;
        content: "\f16d";
    }
    .fa-google-plus-g:before {
        color:$primary;
        content: "\f0d5";
    }
}