.horizontal-scoroll {
  width: 800px;
  overflow-x: scroll;
} 
.row-text {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
}
.row-text-f {
  background-color: white;
  border-radius: 10px;
}
#cont {
    height: 410px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}
.fH-text {
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    background-color:#0478bd;
    width: 180px;
    height: 50px;
    margin-left: -15px;
    padding-left: 50px;
    padding-top: 10px;
    font-size: 16pt;
    color:white;
}
.ui.form .inline.field>:first-child,.ui.form .inline.fields .field>:first-child {
  font-size: 14pt;
}

.female-bg {
  background-color: #ffc2d5;
}


/*Switch*/

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;

}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}


.img-header {
  background-image: url(../img/02.jpg);
  background-size: cover;
  width: 100%;
}
.bg-main {
  background-image: url(../img/BgLogin.jpg);
}
.title-info {
  color: #0478bd;
  font-weight: bold;
  padding-bottom: 10px;
}
.title-label {
  font-size: 11pt;
  padding-top:3px;
  font-weight:600;
} 
.label-input {
  font-size: 12pt;
  padding-top:3px;
  font-weight:600;
}
 .label-family {
   font-size: 11pt;
   margin-bottom: 8px;
 }
 .ui.selection.dropdown {
   min-width: 11em;
   min-height: 2em;
 }

.title-sub {
  font-size: 11pt;
  padding-bottom: 6px;
}
.ui.input>input:focus { 
  border: 1px solid #0478bd;
}
.ui.form .inline.field>.selection.dropdown:focus {
  border: 1px solid #0478bd;
}
.ui.selection.active.dropdown:hover .menu {
  border: 1px solid #0478bd;
 }
.ui.selection.active.dropdown .menu {
  border: 1px solid #0478bd;
  &:hover {
    border: 1px solid #0478bd;
    &:focus {
      border: 1px solid #0478bd;
    }
  }
 }

 .toggle {
   padding-top:10px;
	margin-bottom: auto;
	
	&:last-child {
		margin-bottom: 0;
	}
}

.toggle__wrapper {
    display: flex;
	flex-direction: column;
    align-items: center;
}
.toggle__button { 
	width: 60px;
	height: 30px;
  display: flex;
  align-items: center;
  overflow: visible;
  padding: 5px;
  position: relative;
	border-radius: 25px;
  cursor: pointer;
	border: solid 4px #FFF;
	background-color: transparent;
	transition: all .2s ease;
}

.toggle__switch { 
	width: 15px;
  height: 15px;
	position: absolute;
	border-radius: 100%;
	transition: all .4s ease;
	background-color:#FFF;
}

.toggle__button[aria-checked="true"] {
	border-color:rgb(56, 214, 103);
}

.toggle__button[aria-checked="false"] .toggle__switch {
	left: 5px;
}

.toggle__button[aria-checked="true"] .toggle__switch {
	right: 5px; 
	background-color: rgb(56, 214, 103);
}
// scroll horezintel

